global
    log stdout format raw local0 info

defaults
    log     global
    mode    http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Giao diện nhận yêu cầu của HAProxy (cổng 80)
frontend http_front
    bind *:80
    default_backend web_servers

# Cụm phân phối tải (Backend Pool)
backend web_servers
    balance roundrobin
    # Sử dụng tên dịch vụ trong Docker Compose để tự động phân giải IP
    server web_instance_1 web1:8000 check
    server web_instance_2 web2:8000 check
